# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build outputs
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
*.iml